.category_list {
  padding-block: 2rem;
}

.category_title {
  text-transform: capitalize;
  font-size: 1.25rem;
  margin: 0;
}

.category_header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.category_container {
  max-height: 550px !important;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
  }
}

.transaction_form {
  padding-block: 1.5rem;
}

.date_picker {
  width: 100%;
}

.amount_input {
  width: 100%;
}

.expense_card {
  width: 100%;
}

.expense_card_label {
  font-weight: 500;
  font-size: 1rem;
}

.expense_card_amount {
  font-weight: 500;
  font-size: 1rem;
}

.card_header_date {
  font-size: 1.15rem;
}

.card_header_income {
  color: #52c41a;
}

.card_header_expense {
  color: #f5222d;
}

.delete_modal_buttons {
  margin-top: 1.5rem;
}
