.sign_up {
  padding-block: 2rem;
}

.sign_up_form {
  padding-bottom: 2rem;
}

.sign_in {
  padding-block: 2rem;
}

.sign_in_form {
  padding-bottom: 1rem;
}

.sign_in_forgot {
  align-self: flex-end;
}
